@import 'assets/scss/colors';

.login-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .login-facebook,
  .login-google {
    line-height: 3em;
    border: none;
    padding: 0 2em;
    border-radius: 0.2em;
    color: #FFF;
    transition: all 250ms ease;
  }

  .login-google {
    background: #4285F4;

    &:hover {
      background: darken(#4285F4, 7);
    }
  }

  .login-facebook {
    background: #3b5998;

    &:hover {
      background: darken(#3b5998, 7);
    }
  }
}

.logout {
  line-height: 3em;
  border: none;
  padding: 0 2em;
  border-radius: 0.2em;
  color: #FFF;
  transition: all 250ms ease;
  background: $accent-color;
}

.app {
  display: flex;
  align-items: stretch;
  .app-menu {
    // height: 100%;
    margin: 0 !important;
    border-radius: 0;
    box-shadow: 0;
  }
  .app-content {
    background: #f8f8f8;
    width: 100%;
    overflow: auto;
    padding: 1em;
  }
}
